<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConfig" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings file="AppSettings-override.config">
    <add key="CustomConfig.Key1" value="Value1 (from app settings)"/>
  </appSettings>
  <CustomConfig file="CustomConfig-override.config">
    <add key="Key1" value="Value1 (from config section)"/>
  </CustomConfig>
</configuration>